Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
psycopg2
psycopg2-binary
pandasDjango
django-cors-headers
djangorestframework
djangorestframework-simplejwt
django-environ
psycopg2-binary
pandas
mod_wsgi
